html {
scroll-behavior: smooth;
}
body {
/* Outfit is primary font and Verdana is backup font */
 font-family: 'Outfit', verdana;
 background-color: beige;
 margin: 0px;
}
.topnav {
  z-index: 2;
  font-size: 15px;
  overflow: hidden;
  /* Dark blue */
  background-color: #172154;
}
.topnav ul {
list-style-type: none;
margin: 0;
}
.topnav li{
   display: inline;
}
.topnav a{
/* Off white */
   color: #F1FAFE;
}
.topnav li a{
  float: left;
  text-align: left;
  padding: 20px 15px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}
.topnav li a:hover {
/* Light purple */
    background: #6773B7;
}
img {
/* Images that don't have different formatting are restricted to prevent strange sizing with flexbox */
    max-width: 100%;
    min-width: 20%;
}
video {
 object-fit: cover;
  height: 100%;
  width: 100%;
    position: absolute;
      margin: 0;
      z-index: -1;
}
.main_video {
/* Includes flexbox formatting for logo and text over video elements*/
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.over_video {
    font-size: 6.5vw;
    font-weight: regular;
    color: #F1FAFE;
    position: relative;
    z-index = 1;
    top: 3em;
    bottom: 1em;
    /* Secondary font: Baskerville. */
    font-family:'Baskerville';
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
}
/* Cross-browser compatibility */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
z-index = 1;
position: absolute;
top: 1em;
width: 20%;
z-index: 1;
}
.future {
    margin: 0 5rem 5rem 5rem;
    position: relative;
    align-text: center;
    font-size: 1em;
}
.parallax_future {
/* The image used */
  background-image: url("Images/pexels-oliver-sjöström-931018.jpg");
  min-height: 500px;
  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Parallax turned off on mobile */
@media only screen and (max-device-width: 1366px) {
  .parallax_future {
    background-attachment: scroll;
  }
}
.buffer {
width: 100%;
min-height: 6em;
background-color: var(--color);
}
.product_container {
/* Product container is referring to the flex container that has the product ordering and image */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
h1 {
    font-size: 4em;
    color: #172154;
}
.order_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}
.select {
background: #172154;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
border: 2px #2a2f3b solid;
border-radius: 0.5 em;
padding: 1em;
cursor: pointer;
transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
    background: #6773B7;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #172154;
    border: 1px #363a43 solid;
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 2.5em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li {
padding: 0.7em 0.5em;
margin: 0.3 em 0;
border-radius: 0.5em;
cursor: pointer;
}

.menu li:hover {
    background: #6773B7;
}

.active {
    background: #6773B7;
}

.menu-open {
    display: block;
    opacity: 1;
}

.buy {
    margin: auto;
    padding: 1em 2em;
    border: 1px #363a43 solid;
    border-radius: 0.5em;
    background: #172154;
    color: white;
    max-width: 150px;
}

.buy:hover{
    background: #6773B7;
}

.singapure_containers {
    max-height: 45%;
    max-width: 45%;
}

.water {
      margin: 2rem 4rem;
      display: flex;
      align-items: center;
      color: #172154;
}
.water img {
    min-height: 35%;
    max-height: 80%;
    min-width: 35%;
    max-width: 80%;
    margin: 3rem;

}
/* Water text size is in the HTML code */
.why_us {
 margin: 0;
 color: #172154;
}
.why_us img {
        float: left;
        width: 100vw;
        height: 50vh;
        object-fit: cover;
        z-index: 2;
}

.parallax_pure{
  /* The image used */
  background-image: url("Images/pexels-matt-hardy-1533720.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax_pure {
    background-attachment: scroll;
  }
}

.pure {
  margin: 5em;
}
.parallax_paired{
  /* The image used */
  background-image: url("Images/pexels-athena-2961968.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax_paired {
    background-attachment: scroll;
  }
}
.paired {
     margin: 5em;
}

.brew {
 margin: 5em;
}
.parallax_brew {
/* The image used */
  background-image: url("Images/pexels-bibhash-banerjee-1047254.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax_brew {
    background-attachment: scroll;
  }
}
.health {
     margin: 5em;
}
.parallax_health {
/* The image used */
  background-image: url("Images/pexels-jeff-guab-2407636.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax_health {
    background-attachment: scroll;
  }
}
.links {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}